
body {
  background-color: rgb(153, 204, 255);
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
h1, h2 {
  border: 4px dotted ;
  color: #FFDDFF;
  background-color: rgb(0, 51, 153);
  text-align : left;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  text-align : left;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
}



p {
  text-align: justify;
  font-size: 12
}

a:link, a:visited {

    background-color: darkblue;

    color: white;

    padding: 10px 19px;

    text-align: center;

    text-decoration: none;

    display: inline-block;

}

 

 

a:hover, a:active {

    background-color: white;

    color: darkblue;

}