* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  background: #2C2C2C;
}
header {
  background-image:url('https://i.imgur.com/3ooBkgA.png');
  width: 1920px;
  height: 300px;
}

header h1 {
  font-size: 300%;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  text-align: right;
}

body {
    color: white;
}