* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  background-color: aliceblue
  color: white;
  background-image:url(http://wallpaperstock.net/mountain-lake_wallpapers_34820_1920x1080.jpg);
}
header {
  background-image:url();
  height: 80px;
}

header h1 {
  font-size: 500%;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: grey;
  text-align: center;
}

section {

}

article {
    font-size: 20px;
    border: 4px outset ;
    margin-left: 60%; 
    margin-right: 10%;
}

ul {
  padding: 10px;
}

ul li {
  background: #787878;
  padding: 5px;
  border: solid 2px white;
  display: inline-block;
}

ul li a {
  color: white;
  text-decoration: none;
}

ul li a:hover {
  color: #C0C0C0;
}